html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *****************/
body {		
	font-family: 'Roboto', sans-serif;
	color: white;
}
nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background: black;
	font-family: 'Roboto', sans-serif;
}

nav ul {
	text-align: right;
}

nav ul li{
 	display: inline-block;
 	margin-top: 15px;
 	padding-right: 30px;
}

nav ul li a{	
	text-decoration:none;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 2px solid white;
}


/********* page one *********/
.pageOne {
	background: url("http://codecondo.com/wp-content/uploads/2014/04/12-Courses-for-Starting-Your-Web-Development-Journey.jpg?x94435");
	background-size: cover;
	height: 800px;
	text-align: center;
}

.message {
	
	padding-top: 20%;
	padding-bottom: 20%;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 5.0em;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px;
}

hr {
	width: 400px;
	border-top: 1px  solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.message i {
	padding-right: 50px;
}

.header-i {
	color: white;
}

/********** page two ********/
.pageTwo {
	background-color: black;
	background-size: cover;
	height: 850px;
	padding-top: 3%;
}

h2 {
	margin-top: 1em;
	font-size: 2em;
	padding-bottom: 10px;
}

p {	text-align: left;
	line-height: 120%;
	font-size: 1.4em;
	margin-left: 5%;
	margin-right: 5%;
}

.left {
	width: 50%;
	float: left;

}

.left h2 {
	text-align: center;
}
.left h3 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 18px;
	padding-bottom: 15px;
}

.left p {
	font-size: 16px;
}

.left ul {
	margin-left: 5%;
	margin-right: 5%;
}

.left ul li {
	padding-bottom: 15px;
	line-height: 120%;
}

.left ul li a {
	font-style: italic;
	text-decoration: underline;
	color: white;
}
.left > i {
	margin-left: 50%;
}

.right {
	text-align: center;
	width: 50%;
	float: left;
}

.right h2 {
	font-weight: bold;
	text-align: center;
}

.right > p {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 15px;
}

.pageTwo i {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
}


/********** page Three ***********/
.pageThree {
	margin-bottom: 50px;
}
.pageThree h1 {
	padding-top: 50px;
	color: black;
	padding-bottom: 35px;
}

.column-left {
	margin-left: 5%;
	float: left;
	width: 30%
}

.column-center {
	float: left;
	width: 30%;
}
.column-right {
	float: left;
	width: 30%;
}
.work {
	height: 300px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.work:last-of-type{
	margin-bottom: 50px;
}

.work a {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.work a:hover i {
  opacity: 1;
  font-size: 30px;
}
.work a:hover img{
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.work a img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  height: 100%;
  display: block;
  width: 700px;
}

.work a i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  font-size: 0px;
  z-index: 100;
}

.comingsoon {
  display: none;  
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 35px;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  font-size: 0px;
  z-index: 100;
}

.work a:hover .comingsoon {
	display: block;
	opacity: 1;
  	font-size: 30px;
} 

/********* skill bar ***********/
* {box-sizing:border-box}

.right h4 {
	margin-left: 5%;
	font-size: 14px;
	text-align: left;
}

.container {
	margin-left: 5%;
    width: 80%; 
    background-color: #ddd; 
    border-radius: 25px;
    margin-bottom: 5px;

 } 

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 15px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    border-radius: 25px;
}
  
.html {
	width: 99%; 
	background-color: green;
}

.css {
	width: 90%; 
	background-color: #2196F3;
} 

.js {
	width: 80%; 
	background-color: #f44336;
} 

.php {
	width: 70%; 
	background-color: #808080;
}

/********* nav hover effect **************/
